<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Ошибка формата файла!</title>
    <link rel="stylesheet" href="webjars/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="webjars/noty/3.1.4/demo/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<html>
<h2>Неверный формат Xml файла</h2>
<p th:if="${url}">
    <b>Page:</b> <span th:text="${url}">Page URL</span>
</p>
<p th:if="${timestamp}" id='created'>
    <b>Occurred:</b> <span th:text="${timestamp}">Timestamp</span>
</p>
<p th:if="${status}">
    <b>Response Status:</b> <span th:text="${status}">status-code</span> <span
        th:if="${error}" th:text="'('+${error}+')'">error ...</span>
</p>
<p th:text="${'Детали : ' + message}"></p>
<form action="/" target="_blank">
    <button type="submit" class="btn btn-primary mb-2" >Вернутся на страницу загрузки</button>
</form>
</div>
</html>